div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;

}
span {
    font-size: 48px;
}
img {
    margin-bottom: 20px;
}